
* {
    box-sizing: border-box;
  }
  
  body{
      margin: 0;
      padding: 0;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  
  .row{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
  }  
  h1{
    text-align: center;
}
.box{
    
    
    width: 100%;
    overflow: none;
}
.sideheading{
    overflow: none;
  text-align: center;
  border: 3.5px solid black;
  width: 150px;
  height: 40px;
  padding: 2px;
  float: right;
  margin-right: 7.5%;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  position: relative
  
}
.content{
    border: 3.5px solid black;
    width: 90%;
    height: auto;
    margin: 2.5%;
    color: black
    font-size: 25px;
    padding: 3%;
    padding-top: 45px;
    background-color: rgba(0,0,0,0.3);
 
}
.box1{
    background-color:  #FFB6C1;
}
.box2{
    color: white;
    background-color: #ce2d2d;
  }
.box3{
    background-color: #FFFF00;
  }
  @media (min-width: 992px) {
    .col-lg-4 {
        float: left;
      width: 33.33%;
      
    }
    .b1{
        margin-left: 4.3%;
    }
    .b2{
      margin-left: 2.3%;

    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
   
   
    .col-md-6 {
      width: 50%;
      float: left;
    }
    .col-md-12 {
      
      width: 104%;
      float: left;
     
  
    }
    .b1{
      margin-left: 2.8%;
    }
    .b2{
      margin-left: -0.3%;
    }
    
    
  
  
  @media (min-width: 0px) and (max-width: 767px) {
    .col-sm-12 {
        float: left;
      width: 100%;
     
    }
    
  